[flake8]
extend-exclude =
    .idea/,
    .venv/,
    .tox/,
    docs/conf.py,

max-line-length = 120

# compatible with Black
extend-ignore =
    # https://www.flake8rules.com/rules/E203.html
    E203,
    # https://www.flake8rules.com/rules/W503.html
    W503,
